In [1]:
import pandas as pd
import numpy as np

In [2]:

data = pd.read_csv("filtered_countries.csv")

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data_edges = data[["countries_start", "countries_end"]]
data_edges = data_edges.rename(columns = {"countries_start" : "Source", "countries_end": "Target"})
data_edges = data_edges.drop_duplicates()

In [4]:
data_nodes = data[["countries_start"]]
data_nodes_2 = data[["countries_end"]]

data_nodes = data_nodes.rename(columns= {"countries_start": "Label"})

data_nodes_2 = data_nodes_2.rename(columns= {"countries_end": "Label"})

In [5]:
data_nodes = data_nodes.append(data_nodes_2)

In [6]:
data_nodes = data_nodes.drop_duplicates()

In [7]:
data_nodes = data_nodes.reset_index(drop = True)

In [8]:
geo = pd.read_csv("country_geo.csv")

In [9]:
data_nodes = data_nodes.merge(geo, left_on = "Label", right_on = "name", how = "left")

In [10]:
data_nodes[data_nodes["name"].isnull()]

              Label country  latitude  longitude name
102  Not identified     NaN       NaN        NaN  NaN

In [26]:
data_nodes = data_nodes[['Label', 'latitude', 'longitude']]
data_nodes = data_nodes.reset_index()
data_nodes = data_nodes.rename(columns = {'index': 'id'})

In [27]:
data_nodes['id'] =

      id                           Label   latitude   longitude
0      0                   United States  37.090240  -95.712891
1      1                  Cayman Islands  19.513469  -80.566956
2      2                           China  35.861660  104.195397
3      3                       Hong Kong  22.396428  114.109497
4      4                       Singapore   1.352083  103.819836
5      5                          Taiwan  23.697810  120.960515
6      6                     Philippines  12.879721  121.774017
7      7                  United Kingdom  55.378051   -3.435973
8      8                     Switzerland  46.818188    8.227512
9      9                          Canada  56.130366 -106.346771
10    10          British Virgin Islands  18.420695  -64.639968
11    11                        Pakistan  30.375321   69.345116
12    12                           India  20.593684   78.962880
13    13                        Guernsey  49.465691   -2.585278
14    14                          Russia  61.524010  105.318756
15    15                         Ireland  53.412910   -8.243890
16    16                         Bahamas  25.034280  -77.396280
17    17                          Jersey  49.214439   -2.131250
18    18                         Austria  47.516231   14.550072
19    19                       Australia -25.274398  133.775136
20    20                         Germany  51.165691   10.451526
21    21                     Isle of Man  54.236107   -4.548056
22    22                       Mauritius -20.348404   57.552152
23    23                          Mexico  23.634501 -102.552784
24    24                        Malaysia   4.210484  101.975766
25    25                         Ukraine  48.379433   31.165580
26    26                          Norway  60.472024    8.468946
27    27                          Cyprus  35.126413   33.429859
28    28                          Monaco  43.750298    7.412841
29    29                        Barbados  13.193887  -59.543198
..   ...                             ...        ...         ...
148  148                          Zambia -13.133897   27.849332
149  149                        Cambodia  12.565679  104.990963
150  150                          Serbia  44.016521   21.005859
151  151                           Tonga -21.178986 -175.198242
152  152                         Croatia  45.100000   15.200000
153  153                          Uganda   1.373333   32.290275
154  154                          Brunei   4.535277  114.727669
155  155                            Mali  17.570692   -3.996166
156  156                            Chad  15.454166   18.732207
157  157                     Afghanistan  33.939110   67.709953
158  158                         Georgia  42.315407   43.356892
159  159                         Moldova  47.411631   28.369885
160  160                            Fiji -16.578193  179.414413
161  161                        Cameroon   7.369722   12.354722
162  162                Papua New Guinea  -6.314993  143.955550
163  163                            Cuba  21.521757  -77.781167
164  164                           Niger  17.607789    8.081666
165  165                        Botswana -22.328474   24.684866
166  166                         Tunisia  33.886917    9.537499
167  167                       Lithuania  55.169438   23.881275
168  168                        Suriname   3.919305  -56.027783
169  169                        Ethiopia   9.145000   40.489673
170  170                       Palestine  31.952162   35.233154
171  171                         Senegal  14.497401  -14.452362
172  172                        Dominica  15.414999  -61.370976
173  173          Bosnia and Herzegovina  43.915886   17.679076
174  174  British Indian Ocean Territory  -6.343194   71.876519
175  175        Central African Republic   6.611111   20.939444
176  176                         Myanmar  21.913965   95.956223
177  177      Saint Martin (French part)  18.034700  -63.068100

[178 rows x 4 columns]

In [33]:
temp = data_edges.merge(data_nodes, left_on = 'Source', right_on = 'Label')
merged = temp.merge(data_nodes, left_on = 'Target', right_on = 'Label', suffixes = ('_source', '_target'))

In [36]:
# merged = merged[['id_source', 'id_target']].rename(columns = {'id_source':'Source', 'id_target':'Target'})

KeyError: "['id_source' 'id_target'] not in index"

In [37]:

merged.to_csv("data_edges.csv", index= False)

In [38]:
data_nodes.to_csv("data_nodes.csv", index = False)