In [1]:
import pandas as pd
import numpy as np

In [2]:

data = pd.read_csv("filtered_countries.csv")

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data_edges = data[["countries_start", "countries_end"]]
data_edges = data_edges.rename(columns = {"countries_start" : "Source", "countries_end": "Target"})

In [4]:
data_edges

                Source          Target
0        United States           Aruba
1       Cayman Islands         Bermuda
2                China         Bermuda
3            Hong Kong         Bermuda
4            Hong Kong         Bermuda
5                China         Bermuda
6            Hong Kong         Bermuda
7            Singapore         Bermuda
8        United States         Bermuda
9            Hong Kong         Bermuda
10           Hong Kong         Bermuda
11           Hong Kong         Bermuda
12           Hong Kong         Bermuda
13           Hong Kong         Bermuda
14           Hong Kong         Bermuda
15           Hong Kong         Bermuda
16           Hong Kong         Bermuda
17           Hong Kong         Bermuda
18       United States         Bermuda
19           Hong Kong         Bermuda
20           Hong Kong         Bermuda
21           Hong Kong         Bermuda
22           Hong Kong         Bermuda
23               China         Bermuda
24               China         Bermuda
25               China         Bermuda
26               China         Bermuda
27               China         Bermuda
28               China         Bermuda
29           Hong Kong         Bermuda
...                ...             ...
480900           Samoa  United Kingdom
480901           Samoa  United Kingdom
480902           Samoa     New Zealand
480903  American Samoa           Samoa
480904       Hong Kong           Samoa
480905       Hong Kong           Samoa
480906       Hong Kong           Samoa
480907     New Zealand           Samoa
480908           Samoa           Japan
480909  American Samoa           Samoa
480910  American Samoa           Samoa
480911  American Samoa           Samoa
480912  American Samoa           Samoa
480913           Samoa     New Zealand
480914           Samoa       Australia
480915     New Zealand           Samoa
480916   United States           Samoa
480917     New Zealand           Samoa
480918     New Zealand           Samoa
480919           China           Samoa
480920         Vanuatu           Samoa
480921           Samoa       Australia
480922           Samoa     New Zealand
480923           Samoa     New Zealand
480924     New Zealand           Samoa
480925           Samoa     New Zealand
480926           Samoa     New Zealand
480927     New Zealand           Samoa
480928           Samoa     New Zealand
480929           Samoa           India

[480930 rows x 2 columns]

In [5]:
data_counts = pd.DataFrame(data_edges.groupby(["Source","Target"]).size()).reset_index().rename(columns = {0: "count"})

In [6]:
data_counts["count"] = np.log(data_counts["count"])

In [7]:
data_edges = data_edges.drop_duplicates()

In [8]:
data_edges = data_edges.merge(data_counts, on = ["Source", "Target"], how = "left")

In [9]:
data_nodes = data[["countries_start"]]
data_nodes_2 = data[["countries_end"]]

data_nodes = data_nodes.rename(columns= {"countries_start": "Label"})

data_nodes_2 = data_nodes_2.rename(columns= {"countries_end": "Label"})

In [10]:
data_nodes = data_nodes.append(data_nodes_2)

In [11]:
data_nodes = data_nodes.drop_duplicates()

In [12]:
data_nodes = data_nodes.reset_index(drop = True)

In [13]:
geo = pd.read_csv("country_geo.csv")

In [14]:
data_nodes = data_nodes.merge(geo, left_on = "Label", right_on = "name", how = "left")

In [15]:
data_nodes[data_nodes["name"].isnull()]

              Label country  latitude  longitude name
102  Not identified     NaN       NaN        NaN  NaN

In [16]:
data_nodes = data_nodes[['Label', 'latitude', 'longitude']]
data_nodes = data_nodes.reset_index()
data_nodes = data_nodes.rename(columns = {'index': 'id'})

In [17]:
temp = data_edges.merge(data_nodes, left_on = 'Source', right_on = 'Label')
merged = temp.merge(data_nodes, left_on = 'Target', right_on = 'Label', suffixes = ('_source', '_target'))

In [18]:
merged = merged[['id_source', 'id_target', 'count']].rename(columns = {'id_source':'Source', 'id_target':'Target', 'count': "Weight"})

In [19]:

merged.to_csv("data_edges.csv", index= False)

In [20]:
data_nodes.to_csv("data_nodes.csv", index = False)