# Setup

In [19]:
import pandas as pd
import numpy as np

In [20]:
#import level 1 propagated edges from other notebook
data = pd.read_csv("filtered_countries.csv")

In [21]:
#rename columns for Gephi import
data_edges = data[["countries_start", "countries_end"]]
data_edges = data_edges.rename(columns = {"countries_start" : "Source", "countries_end": "Target"})

In [22]:
data_edges.head()

                Source          Target
0        United States           Aruba
1       Cayman Islands         Bermuda
2                China         Bermuda
3            Hong Kong         Bermuda
4            Hong Kong         Bermuda
5                China         Bermuda
6            Hong Kong         Bermuda
7            Singapore         Bermuda
8        United States         Bermuda
9            Hong Kong         Bermuda
10           Hong Kong         Bermuda
11           Hong Kong         Bermuda
12           Hong Kong         Bermuda
13           Hong Kong         Bermuda
14           Hong Kong         Bermuda
15           Hong Kong         Bermuda
16           Hong Kong         Bermuda
17           Hong Kong         Bermuda
18       United States         Bermuda
19           Hong Kong         Bermuda
20           Hong Kong         Bermuda
21           Hong Kong         Bermuda
22           Hong Kong         Bermuda
23               China         Bermuda
24               China         Bermuda
25               China         Bermuda
26               China         Bermuda
27               China         Bermuda
28               China         Bermuda
29           Hong Kong         Bermuda
...                ...             ...
480900           Samoa  United Kingdom
480901           Samoa  United Kingdom
480902           Samoa     New Zealand
480903  American Samoa           Samoa
480904       Hong Kong           Samoa
480905       Hong Kong           Samoa
480906       Hong Kong           Samoa
480907     New Zealand           Samoa
480908           Samoa           Japan
480909  American Samoa           Samoa
480910  American Samoa           Samoa
480911  American Samoa           Samoa
480912  American Samoa           Samoa
480913           Samoa     New Zealand
480914           Samoa       Australia
480915     New Zealand           Samoa
480916   United States           Samoa
480917     New Zealand           Samoa
480918     New Zealand           Samoa
480919           China           Samoa
480920         Vanuatu           Samoa
480921           Samoa       Australia
480922           Samoa     New Zealand
480923           Samoa     New Zealand
480924     New Zealand           Samoa
480925           Samoa     New Zealand
480926           Samoa     New Zealand
480927     New Zealand           Samoa
480928           Samoa     New Zealand
480929           Samoa           India

[480930 rows x 2 columns]

In [1]:
#count number of occurences for each edge
data_counts = pd.DataFrame(data_edges.groupby(["Source","Target"]).size()).reset_index().rename(columns = {0: "count"})

NameError: name 'pd' is not defined

In [39]:
#log transform the counts to reduce exponentiality
data_counts["count"] = np.log(data_counts["count"])
data_counts.head()

/Users/sabburi/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in log
  """Entry point for launching an IPython kernel.

                       Source                    Target     count
0              American Samoa                     Samoa  0.475885
1                     Andorra            Cayman Islands  0.094048
2                      Angola                   Bermuda  1.181143
3                      Angola    British Virgin Islands  0.326634
4                      Angola                 Mauritius -0.366513
5                      Angola            United Kingdom  0.326634
6                    Anguilla                  Barbados -0.366513
7         Antigua and Barbuda                  Barbados  0.326634
8         Antigua and Barbuda     Saint Kitts and Nevis      -inf
9                   Argentina            Cayman Islands  0.910235
10                  Argentina                   Uruguay      -inf
11                      Aruba                   Andorra      -inf
12                      Aruba                  Anguilla  1.623125
13                      Aruba                   Bahamas  0.475885
14                      Aruba                  Barbados  0.475885
15                      Aruba                   Belgium      -inf
16                      Aruba                    Belize  0.475885
17                      Aruba                  Bulgaria      -inf
18                      Aruba                    Canada -0.366513
19                      Aruba            Cayman Islands  0.326634
20                      Aruba                   Curacao  2.186098
21                      Aruba                    Cyprus  0.094048
22                      Aruba                 Gibraltar  0.326634
23                      Aruba                   Grenada  0.732099
24                      Aruba                 Guatemala      -inf
25                      Aruba                  Guernsey  0.787195
26                      Aruba                 Hong Kong      -inf
27                      Aruba               Isle of Man  0.326634
28                      Aruba                    Israel      -inf
29                      Aruba                     Japan      -inf
...                       ...                       ...       ...
2081            United States                 Singapore  1.474637
2082            United States              South Africa  1.283962
2083            United States               South Korea  1.330832
2084            United States                     Spain  1.041412
2085            United States                 Sri Lanka      -inf
2086            United States                    Sweden  0.970422
2087            United States               Switzerland  1.729592
2088            United States                    Taiwan  1.491251
2089            United States                  Thailand  0.326634
2090            United States                    Turkey  0.094048
2091            United States  Turks and Caicos Islands  0.475885
2092            United States                   Ukraine      -inf
2093            United States      United Arab Emirates  1.527180
2094            United States            United Kingdom  1.926262
2095            United States                   Uruguay  0.326634
2096            United States                 Venezuela  1.471717
2097            United States      Virgin Islands, U.S.  0.665730
2098            United States                     Yemen      -inf
2099                  Uruguay     Saint Kitts and Nevis      -inf
2100                  Vanuatu                     Samoa      -inf
2101                Venezuela                  Barbados  0.787195
2102                Venezuela                   Bermuda  0.834032
2103                Venezuela            Cayman Islands  1.113344
2104                Venezuela                   Curacao      -inf
2105                Venezuela               Isle of Man  0.326634
2106                Venezuela               Netherlands -0.366513
2107                Venezuela                 Singapore -0.366513
2108  Virgin Islands, British                  Anguilla  0.970422
2109  Virgin Islands, British                     Aruba  0.910235
2110     Virgin Islands, U.S.                  Barbados  0.475885

[2111 rows x 3 columns]

In [25]:
data_edges = data_edges.drop_duplicates()

In [26]:
#add counts of occurrences to edge list as the weight
data_edges = data_edges.merge(data_counts, on = ["Source", "Target"], how = "left")

In [27]:
#create list of countries to be the nodes list
data_nodes = data[["countries_start"]]
data_nodes_2 = data[["countries_end"]]

data_nodes = data_nodes.rename(columns= {"countries_start": "Label"})

data_nodes_2 = data_nodes_2.rename(columns= {"countries_end": "Label"})
data_nodes = data_nodes.append(data_nodes_2)
data_nodes = data_nodes.drop_duplicates()
data_nodes = data_nodes.reset_index(drop = True)

In [31]:
#import country location table
geo = pd.read_csv("country_geo.csv")

In [32]:
#lookup latitude and longitude in the country location table for each node
data_nodes = data_nodes.merge(geo, left_on = "Label", right_on = "name", how = "left")

In [33]:
#find any failed lookups - rename countries manually until reduced to 0
data_nodes[data_nodes["name"].isnull()]

              Label country  latitude  longitude name
102  Not identified     NaN       NaN        NaN  NaN

In [34]:
#restructure and rename for Gephi import
data_nodes = data_nodes[['Label', 'latitude', 'longitude']]
data_nodes = data_nodes.reset_index()
data_nodes = data_nodes.rename(columns = {'index': 'id'})

In [35]:
#create new edge list
temp = data_edges.merge(data_nodes, left_on = 'Source', right_on = 'Label')
merged = temp.merge(data_nodes, left_on = 'Target', right_on = 'Label', suffixes = ('_source', '_target'))

In [36]:
merged = merged[['id_source', 'id_target', 'count']].rename(columns = {'id_source':'Source', 'id_target':'Target', 'count': "Weight"})

In [37]:
#export edge list
merged.to_csv("data_edges.csv", index= False)

In [38]:
#export node list
data_nodes.to_csv("data_nodes.csv", index = False)